@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/inter-ui-regular.woff2') format('woff2'),
    url('/assets/fonts/inter-ui-regular.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/euclidflex-medium.woff2') format('woff2'),
    url('/assets/fonts/euclidflex-medium.woff') format('woff');
}

@font-face {
  font-family: 'iconfont';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/iconfont.woff2') format('woff2'),
    url('/assets/fonts/iconfont.woff') format('woff');
}
