body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* const placeholder = {
  fontFamily: 'inherit',
  fontSize: 'inherit',
  color: 'inherit',
  opacity: opacity(1),
}; */

input {
  background: none;
  border: 0;
  caret-color: inherit;
  color: inherit;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
}

/* Placeholder */
input::placeholder,
input::-webkit-input-placeholder,
input::-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  opacity: 1;
}

/* Remove the default yellow background of autofill fields in Webkit */
input:-webkit-autofill {
  box-shadow: 0 0 0 100px #000 inset;
  -webkit-text-fill-color: #fff;
}

/* Remove the default icon for autofill fields */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  height: 0;
  width: 0;
  margin: 0;
}

/* Remove the default clean button ("x" at the right) on IE and Edge */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* Remove the red strokes on an invalid field */
input:invalid,
input:-moz-submit-invalid,
input:-moz-ui-invalid {
  box-shadow: none;
}
